@font-face {
    font-family: 'Angleterre Book';
    src: url('AngleterreBook.woff2') format('woff2'),
        url('AngleterreBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

